
img.logo-img {
    height:40px;
}



.login_page_instructions{
    position: absolute;
    left:0.4em;
    top:10em;
    width: 300px;
   background: transparent;

}
.login_page_instructions .pagetitle h5  {
    color: rgba(255, 255, 255, 0.5);;
    margin-left: 10px;
}
.login_page_instructions .pagetitle {
    margin-left: 4px;
}

.loginpanel .pageheader,.loginpanel .pageheader h1,.loginpanel .pageheader h5,.loginpanel .pageheader .pageicon{
    background: none;
    color:#fff;
    margin-bottom: 10px;
    border-color:   rgba(255, 255, 255, 0.5);;
}


.profile_thumb {
    height: 40px;
    width: 40px;
    margin-left: 6px;
    border-radius: 40px;
    padding:0;
    margin-top: -10px;
    overflow:hidden;
}

.profile_thumb img {
    width:60px;
    margin-left:-10px;
}


.profile-title {
    background: transparent;
    color: #fff;
    border: none;
}

.profile-title .pageicon {
    color: #f5ff00;

   border-color: #61ace8;
}

.profile-title .pagetitle h1 {
    color: #fff;
}

.profile-title .pagetitle h5{
    color: #f5ff00;
}

li.profile-content{
    border:none;
    box-shadow: none;
}


input.search-input {
    height:35px;
    width: 240px;
}

li.active_li {
    background: rgba(255, 255, 85, 0.69) ;
    color:#000;
}
li.active_li a {
    color:#000 !important;
    font-size:12px;
}


*.no-margins {
    margin: 0 !important;
}

*.no-padding {
    padding: 0 !important;
}

*.clear-tops {
    margin-top:-5px;
}

table .checker {
    margin: 0;
}

.items-listings-panel {

}

.items-listings-panel .items-listings-head {

}

.items-listings-panel .items-listings-menu {

}

 .items-listings-content .pagetitle{
   margin: 3px 20px;
     color: #0876db;
     border-bottom: 1px solid #0876db;
}

.items-listings-content .pagetitle h5 {
    color: #0876db;
}

 .items-listings-right,  .items-listings-left {
     position:relative;
     display:inline-block;
    margin: 0;padding:0;
    width: 260px;
    float:left;
     border: 1px solid #0876db; border-top: 0; float: left; background: #f7f7f7;
     margin:0;
}

.items-listings-no-division{
    position:relative;
    display:inline-block;
    margin: 0;padding:0;
    width: 100%;
    float:left;
    border: 1px solid #0876db; border-top: 0; float: left; background: #f7f7f7;
    margin:0;
}

.items-listings-left {
    border-right: none;
}

.items-listings-right {
    top: -5px;
}

.items-listings-content .msglist li .summary {
    margin-left: 0px;
}


 .items-listings-content .list-items {
     height: 300px;
     overflow-y:scroll;
     overflow-x: hidden;

 }
.items-listings-content .list-items .msglist{
    height: auto;
}
.items-list > ul {
    overflow: auto;
    height: 300px;
}

.items-listings-content .items-listings-content-left {

}

.items-listings-content .items-listings-content-right {

}

.modal-header {
    color:#fff;
}

.entry_img img{
    width: 74px;
    height:74px;
}


.active.dropdown   > ul {
   /* display:block !important; */
}

.inputError {
   border: 1px solid #d43f3a !important;
    color: #b94a48 !important;
}

.inputError:hover , .inputError:active{
    box-shadow: 0px 0px 3px 0px #d43f3a;
}

li.new {
    background: rgba(0, 114, 192, 0.14);
    color: #1b1b1b;
}

.table-controls-header{
background: none repeat scroll 0% 0% #EEE;
    padding: 10px;
    font-size: 11px;
    border: 1px solid #DDD;

}

.table-controls-header .table-filter-control {
    position: relative;
    display: inline-block;
    margin: 0px 10px;

}

.table-controls-header input,select {
   margin-bottom: 0;
}

.table-controls-header .table-search {
    float: right;
}

ul.data-item-controls {
    margin: auto 20px 0px 20px;
    display:block;
}


ul.data-item-controls  a{
    font-size:12px;
}

ul.data-item-controls > li:hover a {
    transition: linear all .2s;
    -webkit-transition: linear all .2s;
    -moz-transition: linear all .2s;
    -ms-transition: linear all .2s;
    -o-transition: linear all .2s;
    color:#0092ef;
}

ul.data-item-controls > li {
    margin: 0px  4px;
}



ul.data-item-controls a{
    margin: 0;
}

table .item-title  small {
    font-size: 12px !important;
    color: #666 !important;
    margin: auto 4px !important;
}

table .item-title {
    color: #306FA0;
}

.ui-datepicker-week-col {
    background-color: #306FA0 !important;
    color: #ffffff  !important;
    padding-right: 5px !important;
}
tr.class-postpon  > td,.class-postpon,tr#class-postpon > td,#class-postpon {
    background: #cdcdcd !important;
    opacity: 1;
}

tr.class-retake >  td,.class-retake,tr#class-retake  >  td,#class-retake {
    background: rgba(215, 230, 43, 0.47) !important;
}


tr.class-dropped  > td,.class-dropped,tr#class-dropped  > td,#class-dropped {
    background: rgba(230, 130, 132, 0.24) !important;
}


table.table tr:hover td,table.table tr.selected td{
    background: rgba(251, 246, 64, 0.42) ;
    background-image: -moz-linear-gradient(top, #f9f9f9, #fcffa8) ;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#fcffa8)) ;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #fcffa8) ;
    background-image: -o-linear-gradient(top, #f9f9f9, #fcffa8) ;
    background-image: linear-gradient(to bottom, #f9f9f9, #fcffa8) ;
    background-repeat: repeat-x;
    cursor: pointer;
    transition: linear all .2s;
    -webkit-transition: linear all .2s;
    -moz-transition: linear all .2s;
    -ms-transition: linear all .2s;
    -o-transition: linear all .2s;
    z-index: 2000 !important;
}

table.table.special tr > td:nth-child(1),td.row-head,tr.class-dropped td.row-head,tr.class-retake td.row-head,tr.class-postpon td.row-head,col.row-head{
    background: #306FA0 !important;
    text-transform: uppercase;
    color: #ffffff !important;
    border-top: 1px solid rgba(27, 27, 27, 0.19);
    border-left: 1px solid rgba(27, 27, 27, 0.19);
}
table.table tr:hover td.row-head,col.row-head:hover {
    opacity: 0.8;
    background: #306FA0 !important;
    text-transform: uppercase;
    color: #ffffff !important;
}
tr.row-footer > td {
    background: #eeeeee;
    border: 1px solid rgba(27, 27, 27, 0.27);

}

table tfoot.footertb tr > td {
    background:  #306FA0 !important;
    color:#fff !important;
    text-transform: uppercase !important;
    border-color:transparent;
}

#currentpaid-list-table tr >td:nth-child(5){
    width: 140px !important;
}

.tabs-left .tabs-left > .tab-content,.tabs-right .tabs-left > .tab-content {
    border-left: 1px solid #306FA0;
    background:#306FA0;
    color: #fff !important;
}

.tabs-left .tab-content {
    border-left: 1px solid #306FA0;
}

.tabs-right .tab-content {
    border-right: 1px solid #306FA0;
}


.tabs-left .tab-content   .tabs-right > .nav-tabs li.active > a, .tabs-right .tab-content  .tabs-left > .nav-tabs li.active > a {
    border-bottom: 1px solid #306FA0;
    background:#306FA0;
    color: #fff;
}

.tabs-left .tab-content  .tabs-right .nav-tabs li > a,.tabs-right .tab-content  .tabs-left .nav-tabs li > a {
    background-color: #fff;
    color: #444;
}

.tab-content .tab-content > .tab-pane .subtitle,.tab-content .tab-content > .tab-pane small, .tab-content .tab-content > .tab-pane .btn.btn-circle {
    color: #b1d720 !important;
}

.tab-content .tab-content > .tab-pane .tooltip-inner{

    background-color: #222;
}

 .tab-content .tab-content > .tab-pane  .tooltip-arrow {
     border-left-color:#306FA0;
     border-right-color:#306FA0;
     border-top-color:#222;
     border-bottom-color:#222;
     background-color: #222;
 }


.paginate_button:hover,
.paginate_button:active,.paginate_button.current {
    background-color:#306FA0 !important ;
    color: #fff;
    transition:ease-in-out .1s;
}

.paginate_button:hover,
.paginate_button:active{
    color:#444;
}

.padding-left-5 {
   padding-left: 50px !important;
}

.entrylist  .data-item-controls > li {
    padding: 0px;
}

.display-inline {
    display:inline-block;
    position: relative;
}

.display-inline > .label-input {
    margin: -47px -2px auto 10px;
    text-align: center;
    padding: 10px;

}

.tabbedwidget .options-menu {
     position:relative;
    display: inline-block;
    float:right;
    right: 0;
    height: 30px;
    top: -40px;

}

.tabbedwidget .options-menu .btn {
    height: 32px;
}

.options-menu {
    position:relative;
    display: inline-block;
    left: 0px;
    float:right;
}

.options-menu .hr-nav-menu {
    position: relative;
    display: inline-block;
    list-style: none;
}

.options-menu .hr-nav-menu li {
    position: relative;
    display: inline-block;
   margin-right: 0px;
    margin-top: -4px;
    padding: 3px 8px;
    background: #419641;

}

.options-menu .hr-nav-menu li.divider {
    background: #ddd;
    width: 1px;
}

.options-menu .hr-nav-menu li:hover {
    background: #51d651;
}

.options-menu .hr-nav-menu li > a{
    color: #fff;
    padding: 4px 8px;
    text-decoration: none;
}

.options-menu .hr-nav-menu li > a > i {
    margin-right: 6px;
}

.options-menu .hr-nav-menu li:hover > a{
    color: #f9f9f9;
    text-decoration: none;
}

.no-borders {
    border: transparent 0px solid !important;
}

#dualselect {

}


.data-item-controls .btn-circle {
    padding: 5px;
}


.body-container  .pageheader > .pageicon{
     height: 18px;
    width: 18px;
    padding: 4px;
    font-size: 14px;
    color: #22AAD7;

}

.body-container  .pageheader > .pagetitle h1{
    font-size: 14px;

}

.body-container  .pageheader > .pagetitle {
    margin-left: 40px;
    padding:8px 20px;

}


.body-container  .pageheader {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f9f9f9, #fcffa8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#fcffa8));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #fcffa8);
    background-image: -o-linear-gradient(top, #f9f9f9, #fcffa8);
    background-image: linear-gradient(to bottom, #f9f9f9, #fcffa8);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.body-container  .pageheader h1 {
    text-transform: uppercase;
    font-family: 'latoregular','Helvetica';
    font-weight: lighter;
    font-kerning:normal;
    color:#555;
}


.pageheader .search-field {
    height: auto;
   padding: 4px 8px;
}

.search-fieldgrp {
    margin-top: -8px;
}

.headicon > .profile-icon {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    margin: 0 auto;
    width: 40px ; height:40px;
}

.admin-icon  {
    background: transparent url(../img/profile-icon-admin.png) center center  no-repeat;
}

.student-icon  {
    background: transparent url(../img/profile-icon-student.png) center center no-repeat;
}

.department-icon {
    background: transparent url(../img/profile-icon-institution.png) center center  no-repeat;
}


.teacher-icon  {
    background: transparent url(../img/profile-icon-admin.png) center center no-repeat;
}

.coordinator-icon  {
    background: transparent url(../img/profile-icon-student.png) center center no-repeat;
}

.accommodation-icon {
    background: transparent url(../img/profile-icon-institution.png) center center  no-repeat;
}

.headicon {
    overflow: hidden;
    padding: 0;
    width:30px; height: 30px;
    margin-top: 1px;
}


.scripts {
    display: none;
    left: -222222px;
    opacity: 0;
}


.chzn-choices .search-field input{
    height: 30px !important;
}

form .indicator{
    position: relative;
    float:right;
    margin: 7px 10px 10px -70px;
    color:#444;
}

.stthumb-cont {
    width: 70px;
    height: 70px;
    padding: 0px;
    overflow: hidden;
    border-radius: 2px;
}

.stthumb-cont:hover img{
    box-shadow: 0px 0px 4px 0px #0092ef;
    transition:linear ease-in-out .3s;

    cursor:pointer;

}

.stthumb-cont img {
    width: 94%;height:98%;
    box-shadow: 0px 0px 2px 0px #333;
    border-radius: 3px;
    position: relative;
    margin: auto auto;
}

.nav-tabs .subtitle {
    color: #fffc0a;
}

.nav-tabs li:hover .subtitle {
    color: #fff;
}

.nav-tabs li.active .subtitle,.nav-tabs li.active:hover .subtitle {
    color: #444;
}

#user-list-contents .peoplewrapper{
   /* width: 500px;

    */
    min-height:140px;
}

#user-list-contents .peoplewrapper .thumb img {
   width: 110px;
    max-height:140px;
}

#user-list-contents .peoplewrapper .peopleinfo {
    margin-left: 125px;
}

.peoplelist .row-fluid > .span6 {
    margin-left: 0px;
    margin-right: 10px;
}

.personwrapper1 {
    margin: 10px auto;
    width:90%;
    display: block;
    position: relative;
}

.personwrapper1 .big-thumb {
    position:relative;
    margin: 0px auto 0px;
    padding: 8px;
    border: 1px solid #ddd;
    width:280px;
    float:left;
    height:350px
}

.personwrapper1 .big-thumb img {
    width:100%;
    height: 100%;
}

.personwrapper1 .personinfo {
    position: relative;
    width: 460px;
    float:left;
    border: 1px solid #ddd;
    padding: 8px;
    background: #eee;
   height: 350px;

}

.personwrapper1 .personinfo ul, .personwrapper .personinfo ul {
    list-style: none;

}

.personwrapper1 .personinfo ul>li, .personwrapper .personinfo ul>li {
    margin-left: 5px;
    display: block;
    position: relative;
}

.personwrapper1 .personinfo .dt-item ,.personwrapper  .personinfo .dt-item,.dt-item {
    display: block;
    position: relative;
    font-size:10px;
    vertical-align: text-top;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #666;
}

.personwrapper1 .personinfo .dt-item-info,.personwrapper  .personinfo .dt-item-info,.peopleinfo .pp-data .dt-item-info{
    display: inline-block;
    position: relative;
    font-size:14px;
    color: #083d85;
    margin-left: 5px;
    border-bottom: 1px solid #ddd;
}

.peopleinfo .pp-data .dt-item-info{
    font-size:12px;
    border-style: dotted;
    color:#006600;

}

.peopleinfo .pp-data .dt-item {
    font-weight: bold;
}


.personwrapper {
    position: relative;
    display: inline-block;
}

#login .text-error {
    color: #e6b9b8 !important;
}

.paginate_button.disabled {
    cursor: inherit;
    opacity: 0.4;
}

.paginate_button.disabled:hover,.paginate_button.disabled:active {
    background-color: #ddd !important;
    color: #444;
}

.table-labeled .item-title {
    text-transform:capitalize;
}

.table-filter-control {
    margin: 6px;
}

.table-filter-control label{
    display: inline;
}

.table-filter-control .search-cont,.table-filter-control .table-filter-info {
    display: inline;
    float:left;
    margin-bottom: 10px;
}

.table-filter-control .search-field{
     margin: 0px 10px 0px 15px;
}

.table-filter-control .search-input{
    height: 24px;
}

table.forced-small-fonts tr td {
    font-size: 9px !important;
}
.chzn-container-multi {
    width: 100% !important;
}

.chzn-container-multi .chzn-drop,.chzn-container-multi .search-field input {
    width: 98% !important;
}

#profilecompletion {
    color:#306FA0 !important;
}

#profilecompletion input {
    border: 1px solid #306FA0;
}

#profilecompletion .formwiz {
    min-height: 240px;
    height: 270px;
}

.accordion > h3 {
    font-size:14px;
}

.accordion > h3 span {
    text-transform: uppercase;
    text-shadow: none;
    color: #fff;
}

.accordion > div {
    height: auto !important;
}

.dataTables_wrapper {
    overflow:auto;
}

.navbar-horizontal {
    display: block;
    position: relative;
    margin: auto 10px 10px;
     border: 1px solid #ddd;
}

.navbar-horizontal ul > li {
    display: inline-block;
    border-left:1px solid #ddd;

}

.navbar-horizontal ul > li > a {
    padding: 5px 10px 5px;
}

.navbar-horizontal .chzn-container {

}

.navbar-horizontal ul > li > span {
    margin-top: -40px;
}

.navbar-horizontal ul {
    margin:0;
}

.navbar-horizontal .chosen-holder {
    display: inline;
}

.chosen-holder {
    display: inline-block;
}

.table-nav-control {
    display:block;
}

.table-nav-control > li,.table-nav-control  form ul > li {
    display:inline-block;
}

.table-nav-control > li > a,.table-nav-control  form ul > li > a {
    display:block;
}

.table-nav-control > li:hover > a,.table-nav-control  form ul > li:hover > a {
    display:block;

}

.dataTables_wrapper .chzn-container {
    bottom: -12px;
}

.menu-toggle {
    position:relative;float:right;
   color:#f4ef3e;
    cursor: pointer;
}

li > ul.menu-collapsed {
    left: 70px;
    list-style: outside none none;
    position: absolute;
    top: -40px;
    width: 240px;
    z-index: 3000;
    border: 1px solid #ddd;

}

ul.menu-collapsed > li a {

    color: #ffe;
}

ul.menu-collapsed > li {
    list-style: none;
}

.regpanelinner .pageicon,.loginpanelinner .pageicon {
    width: 40px;height:40px;
    font-size: 36px;
}

.regpanelinner  h1,.loginpanelinner h1 {
    font-size: 22px;
}

.regpanelinner  h5,.loginpanelinner h5 {
    font-size: 20px;
}

.dataTables_wrapper {
    min-height: 340px !important;
}

.help-docs .ui-accordion-content > p {
    background: #fff;
    color: #444;
    padding: 4px 20px;

}
.help-docs .ui-accordion-content {
    margin: auto 20px;
    background: #fff;
    border-radius: 2px 6px;
}

.help-docs .ui-accordion-content img {
    width: 200px;
}

.help-docs ul {
    margin: 5px 20px;
}
.help-docs ul li {
    list-style:  none;
    background: url(../img/bcarrow.png) 0 0;
    padding: 0 10px 0 20px;
}

.chatlist li.active a {
    background: #306FA0;
    color:#fff;
}

.chatlist li.active a > span {
    color: #fcffcc !important;
}

.chatprofileimg {
    width:50px;
    height:50px;
    margin: 10px 20px;
}

.btn-control-row {
    display:block;
    border-bottom: 1px solid #1d5979;
    margin-bottom:12px;
}
.btn-control-row .btn-control-block {
    display:inline-block;
    margin:5px;
}

.nav-horizontal {
    border: 1px solid #aaa;
}


.nav-horizontal li{
    display:inline-block;
    margin: auto 0 4px 0;
    transition: ease-in-out all .2s;
}

.nav-horizontal li:hover {
     transition: ease-in-out all .2s;

 }



.nav-horizontal li:hover a {
    transition: ease-in-out all .2s;

}

.nav-horizontal {
    margin: auto auto 10px auto;
    padding: 6px 10px;
    display:inline-block;

}

.nav-horizontal li a {
    display:block;
    padding: 4px 6px;
    font-size:12px;
    color: #306FA0;
}

ul.nav-horizontal {
    border: 1px solid #aaa;
    padding: 0 !important;;
}


ul.nav-horizontal.nav-primary {
    color:#306FA0;
}

ul.nav-horizontal.nav-primary li > a{
    color:#306FA0;
}

ul.nav-horizontal.nav-primary li.active > a{
    background-color:#306FA0;
    color:#fff;
}



.list-group .list-group-item {
    list-style: none;
    margin:auto 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;


}

.list-group .list-group-item a {
    padding: 20px 14px;
}

ul.stats >li {
    list-style: none;
    padding:8px 15px;
    background: rgba(250, 255, 108, 0.38);
    color: rgba(27, 27, 27, 0.94);
    font-size:12px;
    text-transform: uppercase;
}

.pie-legend >li span, .legend li > span {
    display:inline-block;
    margin:4px 10px 4px 6px;
    width: 30px; height:20px;
}


.pie-legend >li,.legend li {
    list-style:none;
}


#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.chartjs-tooltip-key{
    display:inline-block;
    width:10px;
    height:10px;
}


/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */


.checkbox label .toggle,
.checkbox-inline .toggle {
    margin-left: -20px;
    margin-right: 5px;
}

.toggle {
    position: relative;
    overflow: hidden;
}
.toggle input[type="checkbox"] {
    display: none  !important;
}

.toggleinput {
    display:none !important;
}

.toggle-group {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left 0.35s;
    -webkit-transition: left 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.toggle.off .toggle-group {
    left: -100%;
}
.toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 0px;
    border-width: 0 1px;
}

.toggle-on.btn { padding-right: 24px; }
.toggle-off.btn { padding-left: 24px; }

.toggle.btn-lg { min-width: 79px; min-height: 45px; }
.toggle-on.btn-lg { padding-right: 31px; }
.toggle-off.btn-lg { padding-left: 31px; }
.toggle-handle.btn-lg { width: 40px; }

.toggle.btn-sm { min-width: 50px; height: 10px !important;}
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { min-width: 35px; min-height: 20px;}
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }

.tab-content,.dataTables_wrapper,.tab-pane.messagecontent{
    overflow:visible;;
}

#processingtbl {
    display:inline;
  }

.dataTables_processing{

    background:url(../img/ajax-loader.gif) left center no-repeat;
    padding: 0 0 0 20px;
}

.tab-pane.active {
    display:block !important;
}

.module-result-panel {
    border-radius:4px;
    border:1px solid #aaa;
    box-shadow:0  0 4px #888;
    width:440px;
    display:inline-block;
    background: rgba(250, 255, 109, 0.63);
    padding:10px 15px;
}

.idcard-template {


}

.idcard-template  {
    font-family: 'Times New Roman';
    /*background: url(../tplbg.png) center; */
    background: red; /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left, #faff6d, #f9fff9, #8cb5c6);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left,#faff6d,#f9fff9,#8cb5c6);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left,#faff6d,#f9fff9,#8cb5c6);
    /* Standard syntax */
    background: linear-gradient(to right, #faff6d,#f9fff9,#8cb5c6);

    background-size: cover;
    border: 4px solid #02364e;
    width:600px;
    height:800px;
}

#idcontainer {
   width:100%;
    height:100%;

}

#idheader  {
    color:#1B75BB;
    text-align:center;
    height:40px;
}

#idheader h2 {
    font-size:32px;
    font-weight: bolder;
    margin:40px auto 0 auto;padding:0;
}

#idlogo {
    width:120px;
    height:130px;
}

#idcontainer .text-block > span{
    display: block;
    padding:6px 0;
    font-size:22px;
    color: #000000;
}

#idcontainer .title-head{
    display: block;
    margin:0 50px;
    border-top:15px solid #2E3092;
    font-weight: bolder;
    font-size:28px;
    text-align:center;
    padding:8px 0 0 0;
}

.id-photo-img {
    height: 300px;
}

.text-name > span {
    font-size:20px;
    font-weight: bolder;
}
.signature {
    height:80px;
    margin-bottom:-40px;
}


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.news-posts-section {
    background:#fff;color:#02364e !important;
    margin-top:40px;padding:20px ;width: 100%;text-transform: none !important
}

.news-posts-section h4,
.news-posts-section h2,
.news-posts-section h3,
.news-posts-section h1{
    font-size:15px !important;
}

.news-posts-section ul {
    background: #eaf0ea;
}

.news-posts-section .ui-accordion-content {
    max-height:200px !important;;
    overflow: auto;
}

.msgbody img {
    max-width:250px !important;
    overflow: auto;
}


.table-very-condensed td,.table-very-condensed th{
    padding:2px 3px;
    font-size:10px;
}

.bootstrap-datetimepicker-widget ul li {
    list-style: none;

}

table.results-preview td,table.results-preview th,table.table td,table.table th{
    font-size:9px;
    padding:0 2px;
}

table.results-preview td .badge,table.results-preview th .badge {
    border-radius:0;
    padding:2px 3px;
    margin:0;
    display:block;
}

.table {
    border:2px solid #10729e;
}

tr.best-rank td {
    background: rgba(69, 249, 135, 0.83) !important;
    color: #165221;
}

tr.low-rank td {
    background: #ffae9f !important;
    color: #470f0f;
}
